# Copy this file to .env.local and replace values with your Firebase project config
# Keep the file in project root (next to package.json). Do NOT commit real secrets.

VITE_FIREBASE_API_KEY=AIzaSyCl_ffwUgB8_oerAY2rz6LF92sHlY8_gpk
VITE_FIREBASE_AUTH_DOMAIN=fir-9e49d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fir-9e49d
VITE_FIREBASE_STORAGE_BUCKET=fir-9e49d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=785690626078
VITE_FIREBASE_APP_ID=1:785690626078:web:582776cdf5c1a74d9a460f
VITE_FIREBASE_MEASUREMENT_ID=G-H35MHE283D

